*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header a{
    text-decoration: none;
}

.logo{
    font-size: 20px;
    padding: 5;
    text-align: center;
    color: #154882;
}

.logo a{
    text-decoration: none;
    color: #154882;
}

.sign-up{
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    background-color: #154882;
    height: fit-content;
    border: none;
    border-radius: 2px;
}

.sign-up a{
    color: #ffffff;
}

.sign-up:hover, .sign-up a:hover{
    background-color: rgba(253, 250, 250, 0.9);
    transition: 0.5s;
    color: #154882;
}

.nav{
    display: none;
}

@media (max-width: 767px) {

  .sign-up{
    display: none;
  }

  .header .nav{
    display: flex;
  }

  .nav img{
    width: 50px;
    height: 40px;
    padding: 7px;
    filter: brightness(0) saturate(100%) invert(13%) sepia(52%) 
    saturate(5289%) hue-rotate(229deg) brightness(87%) contrast(116%);
  }

}