*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.hero-section{
    background-image: url("https://i.ibb.co/Jt6Hm1M/Hero-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 30px; */
}

.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px;
    border: 1px solid #ffffff;
    max-width: 100%;
    margin: auto; */
}

.greetings{
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
}

.hero-info p{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}

.hero-info .sign-up a{
    text-decoration: none;
}


/* The Icons */

.hero-icons{
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    align-items: center;
    height: 102px;
    cursor: pointer;
}

.hero-icons.hotels, .hero-icons.cars, .hero-icons.package-deals,
 .hero-icons.cruise,.hero-icons.tours {
    border-left: 1px solid #ffffff;
    padding-left: 15px;
}

.hero-icons.flight:hover, .hero-icons.hotels:hover, .hero-icons.cars:hover, .hero-icons.package-deals:hover,
 .hero-icons.cruise:hover, .hero-icons.tours:hover{
    background-color: rgb(255, 251, 251, 0.5);
    padding: 20px;
    transition: 0.5s;
}


@media (max-width: 767px) {
   .hero-icons{
    /* gap: 15px; */
   }
    
    .hero-icons.flight, .hero-icons.hotels, .hero-icons.cars, .hero-icons.package-deals,
    .hero-icons.cruise,.hero-icons.tours{
        height: 70px;
    }
}

/* Form Data */

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 4px solid rgb(6, 40, 85);
    background-color: rgba(236, 232, 232, 0.911);
    width: fit-content;
    margin: auto;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.3);
}

.form-container p{
    text-align: left;
    font-size: 20px;
    font-weight: 400px;
    padding: 20px 0 20px 0;
}

.hero-form{
    background-color: #ffffff;
    padding: 30px;
}

.hero-form label{
    color: rgb(6, 40, 85);
    font-size: 20px;
}

input[name = "destination"]{
    width: 500px;
    border: none;
    outline: none;
}


hr{
    margin: 10px 0 10px 0;
}

.check-in-and-out{
    display: flex;
    width: fit-content;
    gap: 120px;
}

input[name = "check-in"]{
    width: 200px;
    border: none;
    outline: none;
}

input[name = "check-out"]{
    width: 200px;
    outline: none;
    border: none;
}

/* Removing the placeholder */

input[name = "check-in"]::placeholder, input[name = "check-out"]::placeholder{
    content:" ";
}

select[name = "guest"]{
    width: 600px;
    border: none;
    outline: none;
}

.search{
    padding: 10px 25px 10px 22px;
    background-color: rgb(6, 40, 85);
    color: #ffffff;
    border-radius: 10px;
    font-weight: 400;
    font-size: 25px;
    margin-top: 15px;
    width: auto;
}

.search:hover{
    background-color: rgb(243, 237, 237);
    color: rgb(6, 40, 85);
    transition: 0.5s;
}


/* Media querry for smaller size */

@media (max-width: 767px){
    .form-container{
        width: 100%;
        overflow-x: hidden;
    }

    input[name = "destination"]{
        border: none;
    }

    .check-in-and-out{
        display: block;
        width: fit-content;
    }

}